<h1>Edit Sighting</h1>

<% if @sighting.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/sightings/<%= @sighting.id %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="sighting_location">Location</label>
  <input id="sighting_location" name="updated_sighting[location]" type="text" value="<%= @sighting.location %>">

  <label for="sighting_date">Date (m/dd/yyyy)</label>
  <input id="sighting_date" name="updated_sighting[date]" type="text" value="<%= @sighting.date%>">

  <label for="sighting_time">Time(hh:mm AM/PM)</label>
  <input id="sighting_time" name="updated_sighting[time]" type="text" value="<%= @sighting.time%>">

  <select name="updated_sighting[species_id]">
    <% Species.all.each do |species| %>
    <option value="<%= species.id %>"> <%= species.name %> </option>
    <% end %>
  </select>

  <button>Update sighting</button>
</form>

<p><a href="/sightings/<%= @sighting.id %>/edit"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/">Return to list of sightings.</a></p>
